name: on-push-publish-to-npm
on:
  push:
    branches:
      - master # Change this if not your default branch
    paths:
      - 'package.json'
jobs:
  publish:
    uses: adobe/aio-reusable-workflows/.github/workflows/on-push-publish-to-npm.yml@main